@mainColor: rgba(204,51,43,.88);
@fontColor:#333;
*,:before,:after{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{
  font-size: 62.5%;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul{
  list-style: none;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote.th,td{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
input{
  outline: none;
  border:none;
}
.iconfont{
  font-size: 1.6rem;
}
//Nav
.Nav{
  padding-top: .3rem;
  padding-bottom: .1rem;
  position: fixed;
  bottom: 0;
  width:100%;
  font-size: 1rem;
  background-color: rgba(51,51,51,.8);
  ul{
    display: flex;
  }
  li{
    flex: 1;
    &:hover{
      a{
        color: rgb(255,255,255);
      }
    }
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgb(216,216,216);
      &.active{
        color: #ffffff;
      }
    }
  }
}
//container
.container{
  position: fixed;
  top:0;
  width: 100%;
}

//header
.header{
  display: flex;
  background-color: @mainColor;
  padding-top: .5rem;
  padding-bottom: .5rem;
  justify-content: space-between;
  position: fixed;
  top:0;
  width:100%;
  .icon-microphone{
    color: #ffffff;
    margin-left: 15px;
    margin-right: 25px;
    flex-basis: 16px;
  }
  .icon-p7zhengzaibofangzhong{
    color: #ffffff;
    margin-right: 15px;
    margin-left: 25px;
    flex-basis: 16px;
  }
  .search{
    flex:1;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    padding-left: 10px;
    input{
      height:100%;
      font-size: 1.6rem;
    }
    .icon-fangdajing{
      margin-right: 5px;
      color: #aaa;
    }
  }
}

//tab
.tab{
  display: flex;
  font-size: 1.4rem;
  border-bottom: 1px solid #eeeeee;
  position: fixed;
  top:37px;
  width: 100%;
  li {
    flex:1;
    position: relative;
  }
  a{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: @fontColor;
    line-height: 35px;
    &.active{
      color:@mainColor;
    }
  }
}
//Content
.content{
  margin-top: 73px;
}
//Banner
.swiper-container{
  height:200px;
}
.swiper-slide{
  a{
    display: block;
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center center;
  }
}
//Recommend
.recommend{
  border-bottom: 1px solid #eeeeee;
  padding-top: .5rem;
  padding-bottom: .5rem;
  ul{
    display: flex;
    li{
      flex: 1;
      a{
        display: flex;
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        color: @fontColor;
        flex-direction: column;
        i{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height:40px;
          border:1px solid @mainColor;
          border-radius: 50%;
          color: @mainColor;
          margin-bottom: 8px;
          font-style: normal;
        }
      }
    }
  }
}

//PlayList
.playList{
  padding-top: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  .title{
    display: flex;
    justify-content: space-between;
    a{
      display: inline-flex;
      align-items: center;
      &.title-left{
        i{
          color: @mainColor;
          margin-right: 5px;
        }
        span{
          font-size: 1.5rem;
          color: @fontColor;
        }
      }
      &.title-right{
        color: #666;
      }
    }
  }
}